:root {
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'PingFang TC', 'Hiragino Sans CNS',
    'Microsoft JhengHei', 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    monospace;
  --background-primary: rgb(248, 249, 251);
  --background-primary-darker: hsl(220, 6%, 90%);
  --background-primary-darker-hsl: 220, 6%, 90%;
  --background-primary-darkest: rgb(198, 199, 201);
  --text-normal: rgb(55, 53, 47);
  --text-normal-rgb: 55, 53, 47;
  --text-dim: hsl(48, 5%, 40%);
  --text-highlight-bg: hsl(47, 100%, 80%);
  --text-selection-bg: hsla(var(--color-accent-hsl), 0.2);
  --code-block-background: hsl(47, 12%, 94.5%);
  --accent-h: 80;
  --accent-s: 67%;
  --accent-l: 32%;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--color-accent-hsl));
  --color-accent-darker: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 3.8%)
  );
  --color-accent-lighter: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 3.8%)
  );
  --color-decor-anchor: hsl(149, 80%, 32%);
  --color-decor-emphasize: hsl(338, 77%, 64%);
  --color-decor-twilight: hsl(63, 61%, 39%);
  --color-decor-dim: hsl(338, 3%, 60%);
  --color-decor-echo: hsl(202, 59%, 50%);
  --color-selection-match: hsla(40, 100%, 73%, 0.5);
  --color-shining: hsl(112, 72%, 51%);
  --color-shining-hsl: 112, 72%, 51%;
  --color-err-tex: #fce9e7;
  --color-on-err-tex: #eb5757;
  --shadow-layer:
    hsla(42, 30%, 20%, 0.1) 0px 1px 4px, hsla(42, 30%, 20%, 0.16) 0px 1px 24px,
    hsla(42, 30%, 20%, 0.08) 0px 0px 0px 1px;
  --leaf-hsl: 112deg, 47%, 22%;
  --leaf-hover-hsl: 112deg, 47%, 19%;
  --leaf-active-hsl: 112deg, 47%, 16%;
  --on-leaf-hsl: 112deg, 67%, 88%;
  --on-leaf-dim-hsl: 112deg, 47%, 65%;
  --on-leaf-dimmer-hsl: 112deg, 37%, 40%;
  --neutral-95: rgb(245, 240, 231);
}

.os-btn-primary {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 0.5rem;
  font-family: var(--font-sans);
  font-size: 0.875rem;
  line-height: 1.25;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
  color: #f3f9fd;
  background: var(--os-btn-primary-bg);
  --os-btn-primary-bg: #2783de;
}

.os-btn-primary:hover {
  background: hsl(from var(--os-btn-primary-bg) h s calc(l + -5));
}

.os-btn-primary:active {
  background: hsl(from var(--os-btn-primary-bg) h s calc(l + -10));
}

.ProseMirror .block-equation {
  padding: 4px 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
  transition: background 20ms ease-in;
  /* Prevent katex-display's margins collapsing with outside margins */
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.ProseMirror .block-equation.empty-equation {
  padding: 12px;
  padding-right: 36px;
  color: var(--text-dim);
  background: var(--code-block-background);
  flex-direction: unset;
}

.ProseMirror .block-equation.invalid-equation {
  background: var(--color-err-tex);
  border-radius: unset;
}

.ProseMirror[contenteditable='true'] .block-equation {
  cursor: pointer;
  user-select: none;
}

.ProseMirror[contenteditable='true']
  .block-equation:not(.invalid-equation, .empty-equation):hover,
.ProseMirror .block-equation.editing-equation:not(.invalid-equation) {
  background: var(--code-block-background);
}

.ProseMirror span.inline-equation .katex {
  /* Prevent shifting content below an inline equation node when it toggles
  between being valid and being invalid (or empty) during editing. The
  root cause is due to "katex" class having `line-height: 1.2`. */
  /* We don't change the line-height of inline display equation nodes
  (which have `div.inline-equation`), so they their KaTeX-rendered parts
  look like block equation nodes. */
  /* Note that other than the KaTeX-rendered parts, inline display equation
  nodes should look like and work like normal equation nodes, even though
  the UX feels awkward. Inline display equation should be viewed as a
  compatibility mode for Markdown. We should prioritize normal inline
  equation use cases and encourage people to use block equation nodes if
  they want block display. */
  line-height: 1;
}

.ProseMirror .inline-equation.empty-equation {
  user-select: all;
  display: inline-flex;
  padding: 0px 4px;
  border-radius: 4px;
  background: var(--background-primary-darker);
  color: var(--text-dim);
}

.ProseMirror .inline-equation.invalid-equation {
  user-select: all;
  display: inline-flex;
  padding: 0px 4px;
  border-radius: 4px;
  background: var(--color-err-tex);
  color: var(--color-on-err-tex);
}

.ProseMirror
  .inline-equation.editing-equation:not(.invalid-equation, .empty-equation) {
  user-select: all;
  border-radius: 4px;
  background: #e5f2fc;
}

.ProseMirror
  span.inline-equation.editing-equation:not(
    .invalid-equation,
    .empty-equation
  ) {
  display: inline-flex;
  /* Use padding with negative transform and negative margin to add a
  highlight effect without shifting the element's position. */
  padding: 0px 4px;
  transform: translate3d(-4px, 0, 0);
  margin-right: -8px;
  /* Notion needs to set these but it seems that we don't need to.
  align-items: center;
  vertical-align: top; */
}

.equation-editor-portal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
  z-index: 10;
}

.equation-editor-popup {
  /* Offset from the left position of the equation node */
  --offset-x: -10px;
  /* Gap between equation node and editor */
  --gap-y: 8px;
  margin: var(--gap-y) 0 var(--gap-y) var(--offset-x);
  border-radius: 10px;
  background-color: rgb(247, 247, 245);
  box-shadow:
    0px 14px 28px -6px rgba(0, 0, 0, 0.12),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 0 0 1px rgba(84, 72, 49, 0.08);
  padding: 4px 10px 4px 4px;
  max-width: calc(100vw - (var(--equation-left) + var(--offset-x)) - 24px);
  width: 400px;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: scale(0.98);
  will-change: opacity, transform;
  animation: equation-fade-scale-in 200ms ease forwards;
}

.equation-editor-popup > *:first-child {
  flex: 1 1 0%;
}

@keyframes equation-fade-scale-in {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes equation-fade-scale-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.98);
  }
}

@media (prefers-reduced-motion: reduce) {
  .equation-editor-popup {
    animation: none;
    opacity: 1;
    transform: none;
  }
}

/* LaTeX syntax highlighting colors. */
.cm-line .token.equation {
  color: #690;
}

.cm-line .token.equation-command {
  color: #e90;
}

.cm-line .token.function {
  color: #dd4a68;
}

.cm-line .token.keyword {
  color: #07a;
}

.cm-line .token.comment {
  color: #708090;
}

.cm-line .token.punctuation {
  color: #999;
}

.cm-line .token.cdata {
  color: #708090;
}

.cm-line .token.url {
  color: #9a6e3a;
}

.equation-editor-confirm-btn {
  align-self: flex-start;
  height: 1.5rem;
  padding: 0 0.375rem;
  margin: 4px 0 4px 6px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.equation-editor-confirm-btn > .text {
  font-weight: 500;
}

.equation-editor-confirm-btn > .icon {
  line-height: 1;
  transform: translateY(0.095em);
}
