name: Release

permissions:
  id-token: write # Required for OIDC
  contents: write # Required for release-please
  pull-requests: write # Required for release-please

on:
  push:
    branches:
      - main

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release-please
        with:
          release-type: node
    outputs:
      release_created: ${{ steps.release-please.outputs.release_created }}

  publish:
    runs-on: ubuntu-latest
    needs: [version]
    if: ${{ needs.version.outputs.release_created }}
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup

      - name: Publish to NPM
        run: pnpm publish
